*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/.gitignore
app/libs/
app/proguard-rules.pro
app/src/androidTest/
app/src/main/res/mipmap-hdpi/
app/src/main/res/mipmap-mdpi/
app/src/main/res/mipmap-xhdpi/
app/src/main/res/mipmap-xxhdpi/
app/src/main/res/mipmap-xxxhdpi/
app/src/main/res/values-w820dp/
app/src/test/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
